.publish-form {
  width: 100%;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
}

.publish-body {
  text-align: center;
  padding: 15px 20px 10px 15px;
}

.publish-text-area {
  width: 100%;
  height: 50px;
  border: 0;
  outline: none;
  resize: none;
  -webkit-transition: height 0.25s;
  -moz-transition: height 0.25s;
  -ms-transition: height 0.25s;
  -o-transition: height 0.25s;
  transition: height 0.25s;
}
.publish-text-area::-webkit-scrollbar {
  display: none;
}
.publish-text-area-in-focus {
  height: 150px;
  -webkit-transition: height 0.25s;
  -moz-transition: height 0.25s;
  -ms-transition: height 0.25s;
  -o-transition: height 0.25s;
  transition: height 0.25s;
}

.publish-footer {
  border-top: 1px solid #edeef0;
  padding: 10px 15px;
}

.attach-image-section,
.attach-video-section,
.attach-audio-section,
.publish-btn-section {
  display: table-cell;
  height: 40px;
  vertical-align: middle;
}

.attach-image-section,
.attach-video-section,
.attach-audio-section {
  height: 20px;
  padding: 0 10px;
}

.attach-image-btn,
.attach-video-btn,
.attach-audio-btn {
  height: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  -webkit-transition: filter 0.25s;
  -moz-transition: filter 0.25s;
  -ms-transition: filter 0.25s;
  -o-transition: filter 0.25s;
  transition: filter 0.25s;
}
.attach-image-btn:hover,
.attach-video-btn:hover,
.attach-audio-btn:hover {
  filter: brightness(70%);
  -webkit-transition: filter 0.25s;
  -moz-transition: filter 0.25s;
  -ms-transition: filter 0.25s;
  -o-transition: filter 0.25s;
  transition: filter 0.25s;
}

.publish-btn-section {
  width: 100%;
  text-align: right;
}

.publish-btn {
  padding: 10px 15px;
  background-color: #3e88a4;
  color: white;
  outline: none;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.publish-btn:hover {
  filter: brightness(90%);
}
.publish-btn:active {
  filter: brightness(80%);
}
