<div class="publish-form">
  <div class="publish-body">
    <textarea class="publish-text-area" [class.publish-text-area-in-focus]="inFocus" (focus)="inFocus = true" (blur)="inFocus = false"></textarea>
  </div>
  <div class="publish-footer">
    <span class="attach-image-section">
      <img class="attach-image-btn" src="../../assets/img/publish/attach_image.png" draggable="false" />
    </span>
    <span class="attach-video-section">
      <img class="attach-video-btn" src="../../assets/img/publish/attach_video.png" draggable="false" />
    </span>
    <span class="attach-audio-section">
      <img class="attach-audio-btn" src="../../assets/img/publish/attach_audio.png" draggable="false" />
    </span>
    <span class="publish-btn-section">
      <button class="publish-btn">Publish</button>
    </span>
  </div>
</div>
