<form [formGroup]="loginForm" (ngSubmit)="onLogin()">
  <div class="input-group">
    <span class="input-group-label">
      E-mail
    </span>
    <span class="input-group-field">
      <input type="text" class="input-long" [ngClass]="{ 'in-focus': inFocus.email }" formControlName="email" (focus)="inFocus.email = true" (blur)="inFocus.email = false" />
    </span>
    <span class="error-messages" [ngClass]="{ 'visible': (loginForm.controls['email'].invalid || loginError.noSuchUser === loginForm.value.email) && loginForm.controls['email'].touched }">
      <span class="error-message" *ngIf="loginForm.controls['email'].hasError('required')">
        E-mail can't be empty!
      </span>
      <span class="error-message" *ngIf="loginForm.controls['email'].hasError('pattern')">
        Incorrect e-mail!
      </span>
      <span class="error-message" *ngIf="loginError.noSuchUser === loginForm.value.email && loginForm.controls['email'].valid">
        No such user!
      </span>
    </span>
  </div>
  <div class="input-group">
    <span class="input-group-label">
      Password
    </span>
    <span class="input-group-field">
      <input type="password" class="input-long" [ngClass]="{ 'in-focus': inFocus.pass }" formControlName="pass" (focus)="inFocus.pass = true" (blur)="inFocus.pass = false" />
    </span>
    <span class="error-messages" [ngClass]="{ 'visible': (loginForm.controls['pass'].invalid || loginError.wrongPassword === loginForm.value.pass) && loginForm.controls['pass'].touched }">
      <span class="error-message" *ngIf="loginForm.controls['pass'].hasError('required')">
        Password can't be empty!
      </span>
       <span class="error-message" *ngIf="loginError.wrongPassword === loginForm.value.pass && loginForm.controls['pass'].valid">
         Wrong password!
      </span>
    </span>
  </div>
  <div class="input-group">
    <span class="input-group-label"></span>
    <span class="input-group-field">
      <button type="submit" class="login-btn">Log In</button>
    </span>
  </div>
</form>
