<form [formGroup]="registerForm" (ngSubmit)="onRegister()">
  <div class="input-group">
    <span class="input-group-label">
      First name
    </span>
    <span class="input-group-field">
       <input type="text" class="input-long" [ngClass]="{ 'in-focus': inFocus.firstName }" formControlName="firstName" (focus)="inFocus.firstName = true" (blur)="inFocus.firstName = false" />
    </span>
    <span class="error-messages" [ngClass]="{ 'visible': registerForm.controls['firstName'].invalid && (registerForm.controls['firstName'].touched || formChecked) }">
      <span class="error-message" *ngIf="registerForm.controls['firstName'].hasError('required')">
        First name can't be empty!
      </span>
      <span class="error-message" *ngIf="registerForm.controls['firstName'].hasError('pattern')">
        Incorrect first name!
      </span>
    </span>
  </div>
  <div class="input-group">
    <span class="input-group-label">
      Last name
    </span>
    <span class="input-group-field">
      <input type="text" class="input-long" [ngClass]="{ 'in-focus': inFocus.lastName }" formControlName="lastName" (focus)="inFocus.lastName = true" (blur)="inFocus.lastName = false" />
    </span>
    <span class="error-messages" [ngClass]="{ 'visible': registerForm.controls['lastName'].invalid && (registerForm.controls['lastName'].touched || formChecked) }">
      <span class="error-message" *ngIf="registerForm.controls['lastName'].hasError('required')">
        Last name can't be empty!
      </span>
      <span class="error-message" *ngIf="registerForm.controls['lastName'].hasError('pattern')">
        Incorrect last name!
      </span>
    </span>
  </div>
  <div class="input-group">
    <span class="input-group-label">
      Date of Birth
    </span>
    <span class="input-group-field">
      <input type="date" class="input-long" [ngClass]="{ 'in-focus': inFocus.dateOfBirth }" formControlName="dateOfBirth" (focus)="inFocus.dateOfBirth = true" (blur)="inFocus.dateOfBirth = false" max="{{currentDate}}" />
    </span>
    <span class="error-messages" [ngClass]="{ 'visible': registerForm.controls['dateOfBirth'].invalid && (registerForm.controls['dateOfBirth'].touched || formChecked) }">
      <span class="error-message" *ngIf="registerForm.controls['dateOfBirth'].hasError('required')">
        Date can't be empty!
      </span>
    </span>
  </div>
  <div class="input-group">
    <span class="input-group-label">
      Gender
    </span>
    <span class="input-group-field">
      <span class="input-radio-box">
         <label>Male
           <input type="radio" class="input-radio" value="male" formControlName="gender" />
         </label>
      </span>
      <span class="input-radio-box">
          <label>Female
            <input type="radio" class="input-radio" value="female" formControlName="gender" />
          </label>
      </span>
    </span>
    <span class="error-messages" [ngClass]="{ 'visible': registerForm.controls['gender'].invalid && formChecked }">
      <span class="error-message" *ngIf="registerForm.controls['gender'].hasError('required')">
        Gender can't be empty!
      </span>
    </span>
  </div>
  <div class="input-group">
    <span class="input-group-label">
      E-mail
    </span>
    <span class="input-group-field">
      <input type="text" class="input-long" [ngClass]="{ 'in-focus': inFocus.email }" formControlName="email" (focus)="inFocus.email = true" (blur)="inFocus.email = false" />
    </span>
    <span class="error-messages" [ngClass]="{ 'visible': (registerForm.controls['email'].invalid || registerError.emailRegistered === registerForm.value.email) && (registerForm.controls['email'].touched || formChecked) }">
      <span class="error-message" *ngIf="registerForm.controls['email'].hasError('required')">
        E-mail can't be empty!
      </span>
      <span class="error-message" *ngIf="registerForm.controls['email'].hasError('pattern')">
        Incorrect e-mail!
      </span>
      <span class="error-message" *ngIf="registerError.emailRegistered === registerForm.value.email && registerForm.controls['email'].valid">
        E-mail registered!
      </span>
    </span>
  </div>
  <div class="input-group">
    <span class="input-group-label">
      Password
    </span>
    <span class="input-group-field">
      <input type="password" class="input-long" [ngClass]="{ 'in-focus': inFocus.pass }" formControlName="pass" (focus)="inFocus.pass = true" (blur)="inFocus.pass = false" />
    </span>
    <span class="error-messages" [ngClass]="{ 'visible': registerForm.controls['pass'].invalid && (registerForm.controls['pass'].touched || formChecked) }">
      <span class="error-message" *ngIf="registerForm.controls['pass'].hasError('required')">
        Password can't be empty!
      </span>
      <span class="error-message" *ngIf="registerForm.controls['pass'].hasError('pattern')">
        Incorrect password!
      </span>
    </span>
  </div>
  <div class="input-group">
    <span class="input-group-label">
      Re-enter
    </span>
    <span class="input-group-field">
      <input type="password" class="input-long" [ngClass]="{ 'in-focus': inFocus.rePass }" formControlName="rePass" (focus)="inFocus.rePass = true" (blur)="inFocus.rePass = false" />
    </span>
    <span class="error-messages" [ngClass]="{ 'visible': (registerForm.controls['rePass'].invalid || registerForm.value.pass !== registerForm.value.rePass) && (registerForm.controls['rePass'].touched || formChecked) }">
      <span class="error-message" *ngIf="registerForm.controls['rePass'].hasError('required')">
        Repeat password!
      </span>
      <span class="error-message" *ngIf="registerForm.value.pass !== registerForm.value.rePass && !registerForm.controls['rePass'].hasError('required')">
        Passwords don't match!
      </span>
    </span>
  </div>
  <div class="input-group">
    <span class="input-group-label"></span>
    <span class="input-group-field">
      <button type="submit" class="register-btn">Sign Up</button>
    </span>
  </div>
  <div class="input-group">
    <span class="input-group-label"></span>
    <span class="input-group-field">
      <span class="form-toggle">Have an account?</span> <span class="form-toggle-btn" (click)="toggleForm()">Log in!</span>
    </span>
  </div>
</form>
